body {
  font-size: 18px;
}

h2{
  text-align: center;
  font-size: 1.8em;
  margin-top: 100px;
}

h3 {
  margin-bottom: 20px;
}

.col-3,
.col-4,
.col-8 {
  text-align: center;
}

.col-3 img,
.col-4 img {
  height: 200px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.col-8 {
  border-bottom: 1px solid grey;
}

.col-8 img {
  background-color: #428bca;
  height: 250px;
  padding: 20px;
  margin-top: 150px;
  border-radius: 50%;
}

.col-8 p {
  margin-bottom: 10px;
}

/* ipad, ipad pro, tablet */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section:nth-child(3) .col-md-4 {
    padding: 20px;
  }
}
/* /ipad, ipad pro, tablet */

/* smartphone */
@media screen and (max-width: 768px) {
  section:nth-child(1),
  section:nth-child(3) {
    background-color: lightyellow;
  }
}
/* smartphone */
